.experience {
    .title {
        @include header;
    }
    .experience-item {
        @include container-box;
        .role {
            @include sub-header;
            .location {
                @include body-text;
                color: var(--fg-color-title-sm);
                float: right;
            }
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
        }
        .technologies {
            @include body-text;
        }
    }
}
